.minWidht230 {
  min-width: 230px;
}

.mt-xl {
  margin-top: 5rem;
}

.fullWidth {
  width: 100%;
}
.width90 {
  width: 90%;
}
.width80 {
  width: 80%;
}

.width50 {
  width: 50%;
}
.width45 {
  width: 45%;
}
.width33 {
  width: 33%;
}
.width25 {
  width: 25%;
}
.width20 {
  width: 20%;
}

.width17 {
  width: 17%;
}
.width10 {
  width: 10%;
}
.maxW100 {
  max-width: 100%;
}
.minW250 {
  min-width: 250px;
}
.minW300{
  min-width: 300px;
}

.maxW250 {
  max-width: 250px;
}

.maxW450 {
  max-width: 450px;
}

.minH100{
  min-height: 100px;
}


.fullHeight {
  height: 100%;
}

.fullFooterHeight {
  height: 52px;
}
