.textWhite {
  color: $white;
}
.textBlack {
  color: $black;
}
.textGrey {
  color: $greyAmac;
}
.textGreyIMP {
    color: $greyAmac !important;
  }
.textRedAmac {
  color: $redAmac;
}

.smallerText{
  font-size: 0.6rem;
}
